button,
input[type="submit"],
.button {
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    padding: 0.4em 0.8em;
    border-radius: 4px;
    color: $white;
    border: 1px solid $shade-darker;
    background-color: $shade-darker;

    &:focus,
    &:hover {
        color: $white;
        border-color: $shade-darkest;
        background-color: $shade-darkest;
    }

    &.button-primary {
        color: $primary-darker;
        border-color: $primary-light;
        background-color: $primary-light;

        &:focus,
        &:hover {
            color: $white;
            border-color: $black;
            background-color: $black;
        }
    }
}

a.button {
    text-decoration: none;
}
