.icon {
    fill: currentColor;
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    vertical-align: middle;

    &:first-child {
        margin-right: 0.4em;
    }

    &:last-child {
        margin-left: 0.4em;
    }

    &:first-child:last-child {
        margin-left: 0;
        margin-right: 0;
    }
}
