$size-s: 350px;
$size-m: 500px;
$size-l: 800px;
$size-xl: 1200px;

$white: #ffffff;
$shade-lightest: #f8fafc;
$shade-lighter: #f1f5f8;
$shade-light: #dae1e7;
$shade-base: #b8c2cc;
$shade-dark: #8795a1;
$shade-darker: #606f7b;
$shade-darkest: #3d4852;
$black: #22292f;

$blue-darkest: #12283a;
$blue-darker: #1c3d5a;
$blue-dark: #2779bd;
$blue-base: #3490dc;
$blue-light: #6cb2eb;
$blue-lighter: #bcdefa;
$blue-lightest: #eff8ff;

$yellow-lightest: #fcfbeb;
$yellow-lighter: #fff9c2;
$yellow-light: #fff382;
$yellow-base: #ffed4a;
$yellow-dark: #f2d024;
$yellow-darker: #684f1d;
$yellow-darkest: #453411;

$primary-lightest: $yellow-lightest;
$primary-lighter: $yellow-lighter;
$primary-light: $yellow-light;
$primary-base: $yellow-base;
$primary-dark: $yellow-dark;
$primary-darker: $yellow-darker;
$primary-darkest: $yellow-darkest;
