@import "variables";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    color: $shade-darkest;
    font-size: 16px;
    line-height: 1.6;
    background-color: $shade-lightest;
    font-family: "Open Sans", sans-serif;

    @media screen and (min-width: $size-m) {
        font-size: 18px;
        line-height: 1.8;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $blue-darker;
    font-family: "Montserrat", sans-serif;
}

a {
    color: $blue-dark;

    &:focus,
    &:hover {
        color: $blue-darkest;
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    width: 4em;
}

.padded-a {
    padding: 1em;

    @media screen and (min-width: $size-s) {
        padding: 2em;
    }

    @media screen and (min-width: $size-l) {
        padding: 4em;
    }

    @media screen and (min-width: $size-xl) {
        padding: 8em;
    }
}

.padded-lr {
    padding-left: 1em;
    padding-right: 1em;

    @media screen and (min-width: $size-s) {
        padding-left: 2em;
        padding-right: 2em;
    }

    @media screen and (min-width: $size-l) {
        padding-left: 4em;
        padding-right: 4em;
    }

    @media screen and (min-width: $size-xl) {
        padding-left: 8em;
        padding-right: 8em;
    }
}

.padded-tb-half {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    @media screen and (min-width: $size-s) {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    @media screen and (min-width: $size-l) {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    @media screen and (min-width: $size-xl) {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

#flash-messages {
    background-color: red;
    padding: 1em;
}

.bold {
    font-weight: 700;
}

body > footer {
    margin-top: 4em;
    padding: 1em;
    color: $shade-lighter;
    background-color: $black;

    @media screen and (min-width: $size-s) {
        padding: 2em;
    }

    @media screen and (min-width: $size-m) {
        padding: 4em;
    }

    a {
        display: inline-block;
        color: $blue-light;
        line-height: inherit;

        &:focus,
        &:hover {
            color: $blue-lightest;
        }
    }
}

// Site wide
@import "nav";
@import "dropdown";
@import "button";
@import "form";
@import "icon";

// Booking spesific
@import "booking-header";

.hidden {
    display: none !important;
}
