.page-header {
    position: relative;
    padding: 2em 1em;

    @media screen and (min-width: $size-s) {
        padding: 2em;
    }

    @media screen and (min-width: $size-l) {
        padding: 4em;
    }

    @media screen and (min-width: $size-xl) {
        padding: 8em;
        margin-bottom: 8em;
    }

    .page-title,
    .page-description {
        color: $white;
        max-width: 30rem;
    }

    .page-title {
        margin: 0;
        font-size: 1.25em;
        line-height: 1;
        hyphens: auto;

        @media screen and (min-width: $size-s) {
            font-size: 1.5em;
        }

        @media screen and (min-width: $size-m) {
            font-size: 2em;
        }

        @media screen and (min-width: $size-l) {
            font-size: 3em;
        }
    }

    .page-description {
        margin: 1em 0 0;
    }

    .page-header-overlay,
    .page-header-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .page-header-overlay {
        z-index: 2;
        background-color: rgba($blue-darkest, 0.4);
    }

    .page-header-background {
        z-index: 1;
        background-position: center bottom;
        background-size: cover;
    }

    .page-header-content {
        position: relative;
        z-index: 3;
    }
}

#booking-form-wrapper {
    position: relative;
    margin-top: 1em;

    @media screen and (min-width: $size-s) {
        margin-top: 2em;
    }

    @media screen and (min-width: $size-l) {
        margin-top: 4em;
    }

    @media screen and (min-width: $size-xl) {
        height: 4em;
        margin-top: 8em;
        margin-bottom: -8em;
    }

    .booking-form-intro-text {
        position: relative;
        margin: 2em 0 1em 0;
        line-height: 1;
        color: $white;

        @media screen and (min-width: $size-xl) {
            margin: 0;
            top: -2em;
        }

        > span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            font-weight: 700;

            @media screen and (min-width: $size-xl) {
                display: inline-block;
                max-width: 60%;
                vertical-align: middle;
            }
        }

        a {
            color: currentColor;
            vertical-align: middle;
            display: inline-flex;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            margin-top: 0.4em;

            @media screen and (min-width: $size-xl) {
                margin-top: 0;
                margin-left: 0.4em;
            }

            &:focus,
            &:hover {
                opacity: 0.7;
            }

            .icon {
                width: 1em;
                height: 1em;
            }
        }
    }
}

#booking-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: $white;

    @media screen and (min-width: $size-xl) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 8em;
        padding: 0;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 1fr;
        grid-gap: 2em;
        box-shadow: 0 1em 2em -1em rgba($shade-light, 1);
    }

    .form-group {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $size-xl) {
            justify-content: center;
        }

        label {
            font-weight: 700;
            white-space: nowrap;
            margin-bottom: 0.4em;
            display: inline-flex;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
        }

        .input {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .input-select {
            select {
                width: 100%;
                padding: 0.2em 0.4em;
            }
        }

        .input-date {
            input {
                width: (100%/3);
                border-color: $shade-light;
                border-radius: 0;
                border-left-width: 0px;
                padding: 0.2em 0.4em;

                &:first-child {
                    border-left-width: 1px;
                }

                &:hover,
                &:focus {
                    border-top-color: $primary-dark;
                    border-bottom-color: $primary-dark;
                }

                &:first-child {
                    border-radius: 4px 0px 0px 4px;

                    &:hover,
                    &:focus {
                        border-left-width: 1px;
                        border-left-color: $primary-dark;
                    }
                }

                &:last-child {
                    border-radius: 0px 4px 4px 0px;

                    &:hover,
                    &:focus {
                        border-right-width: 1px;
                        border-right-color: $primary-dark;
                    }
                }
            }
        }
    }

    .form-group-submit {
        .input {
            height: 100%;
        }

        input,
        button {
            width: 100%;
            border-radius: 0;
            box-shadow: none;
            padding: 1em;
            font-size: 1.33rem;
            text-transform: uppercase;

            @media screen and (min-width: $size-xl) {
                font-size: 1.75rem;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }
    }
}

// Paddings
#booking-form {
    padding: 1em 0 0 0;

    @media screen and (min-width: $size-s) {
        padding: 2em 0 0 0;
    }

    @media screen and (min-width: $size-m) {
        padding: 4em 0 0 0;
    }

    @media screen and (min-width: $size-xl) {
        padding: 0;
    }

    .form-group {
        padding: 1em 1em 0;

        @media screen and (min-width: $size-s) {
            padding: 2em 2em 0;
        }

        @media screen and (min-width: $size-m) {
            padding: 4em 4em 0;
        }

        @media screen and (min-width: $size-xl) {
            padding: 0;
        }
    }

    .form-group:first-child {
        padding-top: 0;

        @media screen and (min-width: $size-xl) {
            padding-left: 2em;
        }
    }

    .form-group-submit {
        padding: 1em 0 0;

        @media screen and (min-width: $size-s) {
            padding: 2em 0 0;
        }

        @media screen and (min-width: $size-m) {
            padding: 4em 0 0;
        }

        @media screen and (min-width: $size-xl) {
            padding: 0;
        }
    }
}
