@import "variables";

#main-wrapper .room_types {
    padding: 1em;

    @media screen and (min-width: $size-s) {
        padding: 2em;
    }

    @media screen and (min-width: $size-l) {
        padding: 4em;
    }

    @media screen and (min-width: $size-xl) {
        padding: 8em;
    }

    header {
        padding: 2em 1em;
        background-color: $white;
        box-shadow: 0 1em 2em -1em rgba($shade-base, 0.25);

        @media screen and (min-width: $size-l) {
            padding: 4em 1em;
        }

        h1,
        h2,
        p {
            margin: 0;
        }

        button {
            display: block;
            margin: 1em 0 0 auto;
        }

        .inner-wrapper {
            display: block;
            margin: 0 auto;
            width: $size-l;
            max-width: 100%;
        }
    }

    .room_type {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;

        > h2 {
            font-size: 3em;
            margin: 4rem 0 1rem;
        }

        .see-more-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 2em 0 1em;
            width: 100%;

            span:first-child {
                display: block;
            }

            span:last-child {
                display: none;
            }
        }
    }
}

#main-wrapper .room_types .room {
    display: none;
    padding: 1em;
    width: 100%;

    @media screen and (min-width: $size-m) {
        width: 50%;
    }

    @media screen and (min-width: $size-l) {
        width: (100%/3);
    }

    .image,
    .description {
        display: none;
    }

    .name {
        margin: 0;
    }

    .price,
    .price-nights {
        margin: 0;
    }

    &.busy {
        cursor: not-allowed;
        opacity: 0.25;
        user-select: none;

        .select {
            pointer-events: none;
        }
    }

    .select {
        user-select: none;

        .button {
            font-weight: 700;
            text-transform: uppercase;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;

            .selected {
                margin-right: 0.4em;
            }
        }

        .selected {
            display: none;
        }
    }

    input {
        position: absolute;
        opacity: 0.01;

        &:focus + .select .button {
            color: $white;
            border-color: $black;
            background-color: $black;
        }

        &:checked + .select {
            .button .selected {
                display: block;
            }

            .button .not-selected {
                display: none;
            }
        }
    }

    &.available.first {
        padding: 0;
        width: 100%;
        display: grid;
        margin-top: 3em;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr auto auto 1fr;
        grid-template-areas:
            "img"
            "name"
            "desc"
            "book";
        grid-gap: 1em;
        background-color: $white;
        box-shadow: 0 1em 2em -1em rgba($shade-base, 0.25);

        @media screen and (min-width: $size-l) {
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto 1fr 1fr;
            grid-template-areas:
                "img name"
                "img desc"
                "img book";
            grid-gap: 0;
        }

        @media screen and (min-width: $size-xl) {
            grid-template-columns: 2fr 3fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
                "img name book"
                "img desc book"
                "img desc book";
            grid-gap: 1em;
        }

        .image {
            grid-area: img;
            display: block;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }

        .name {
            align-self: center;
            font-size: 2em;
            margin: 1rem 0 0;
            grid-area: name;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .description {
            align-self: start;
            margin: 0;
            display: block;
            grid-area: desc;
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 2em;
        }

        .select {
            grid-area: book;
            background-color: $shade-base;
            display: grid;
            grid-gap: 1em;
            font-weight: 400;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 2fr;
            grid-template-areas:
                "text"
                "text"
                "button";

            .price,
            .price-nights {
                font-size: 16px;
                margin: 0;
                text-align: left;
                padding-left: 1em;
                padding-right: 1em;
            }

            .price {
                padding-top: 1em;
            }

            .button {
                margin: 1em 0 0;
                border-radius: 0;
            }
        }
    }
}

#main-wrapper .room_types {
    .room_type.open {
        .room {
            display: block;

            &.first {
                display: grid;
            }
        }

        .see-more-button {
            span:first-child {
                display: none;
            }

            span:last-child {
                display: block;
            }
        }
    }
}

#main-wrapper .room_types .submit {
    display: block;
    margin: 8em auto 0;
}
